<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <title>اختر مدونة</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <header class="main-header">
    <h1>اختر مدونة</h1>
  </header>

  <main class="container">
    <div class="card">
      <ul class="blog-list">
        <% blogs.forEach(function(blog) { %>
          <li class="blog-item">
            <a href="/blogs/<%= blog.id %>/drafts" class="btn blog-btn">
              <%= blog.name %>
            </a>
          </li>
        <% }); %>
      </ul>
    </div>
  </main>

</body>
</html>